.LeadingHealthcare {
    display: flex;
    align-items: center;
    padding: 5%;
    margin-bottom: 10%;
}

.LeadingHealthcare-img {
    width: 40%;
    height: auto;
    justify-content: center;
    margin-left: 5%;
}

.LeadingHealthcare-right-side {
    text-align: left;
    margin-left: 10%;
    align-items: center;
    height: auto;
}


.LeadingHealthcare-button {
    background-color: white;
    color: #458FF6;
    border-radius: 30px;
    border: 2px solid #458FF6;
    padding: 2%;
    font-size: 18px;
    font-family: "MulishBold";
    width: 27%;
    margin-top: 10%;
}

.LeadingHealthcare-text {
    text-align: left;
    width: 70%;
}

.LeadingHealthcare-text-title {
    font-size: 36px;
    font-family: "MulishBold";
    line-height: 56px;
    
}

.LeadingHealthcare-text-line {
    background-color: black;
    height: 2px;
    width: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.LeadingHealthcare-text-subtitle {
    font-size: 18px;
    font-family: "MulishRegular";
    line-height: 30px;
    color: #7D7987;
    
}
