.LeadingHealthcare{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LeadingHealthcare-text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.LeadingHealthcare-title{
    font-size: 36px;
    line-height: 58px;
    font-family: "MulishBold";
    margin-bottom: 5%;
}

.LeadingHealthcare-subtitle{
    font-size: 18px;
    line-height: 30px;
    font-family: "MulishRegular";
    color: #7D7987;
    margin-bottom: 15%;
}

.LeadingHealthcare-line{
    background-color: black;
  width: 10%;
  height: 2px;
  margin-bottom: 5%;
}

.LeadingHealthcare-button{
    font-size: 18px;
    background-color: white;
    border-radius: 40px;
    padding: 10px 40px;
    color: #458FF6;
    border: 2px solid #458FF6;
    
}