.TopNavigationButton {
    border: none;
    background: none;
    font-size: 18px;
    margin-right: 5%;
  }
  
  .TopNavigationButton-active {
    color: #1F1534;
    font-family: "MulishBold";
  }
  
  .TopNavigationButton-inactive {
    color: #1F1534;
    opacity: 50%;
    font-family: "MulishRegular";
  }
  